<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Divaf - <%= page_title %></title>

    <%= css 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= css 'blueprint/print.css', :media => 'print' %>
    <%= (['main.css'] + css_files).collect { |filename| css(filename, :media => 'all') }.join("\n    ") %>
    <%= favicon 'divaf.ico' %>

    <!--[if lt IE 8]>
      <%= css 'blueprint/ie.css', :media => 'screen, projection' %>
    <![endif]-->
    <!--[if lt IE 7]>
      <%= script 'ie9.js', :inline => 'IE7_PNG_SUFFIX=".png";' %>
    <![endif]-->
  </head>
  <body>
    <%= img 'divaf_small.png', :id => 'logo', :width => 204, :height => 225, :alt => 'Divaf' %>

    <div id="menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="vaccine.html">Vaccine Distribution</a></li>
<!--
        <li><a href="currentActivities.html">Current Activities</a></li>
        <li><a href="photoWall.html">Photo Wall</a></li>
        <li><a href="specialMention.html">Special Mention</a></li>
-->
        <li><a href="downloads.html">Downloads</a></li>
        <li><a href="contact.html">Contact Information</a></li>
      </ul>
    </div>

    <%= header %>

    <div id="content" class="container clear">
      <%= body %>
    </div>

    <div id="footer">
      <ul>
        <li>Investing in the future</li>
        <li>For the children</li>
        <li>For the community</li>
        <li>For us</li>
      </ul>
    </div>
  </body>
</html>

