<% @page_title = "Home" %>

<div id="overview">
  <p><strong>DIVAF</strong> is an NGO / non-profit organization based in Lagos, Nigeria which conducts humanitarian health and quality of life programs in the urban areas and remote villages of West Africa.  The focus of Divaf programs are directed at children and women with the goal of improving health and quality of life for the communities we touch.  <strong>DIVAF</strong> was founded in Lagos, Nigeria and was registered with the corporate affairs commission (RC. 14,855) on May 20<super>th</super>, 1998.</p>
</div>

