<% page_title = "Vaccine Storage Project" %>
<% css_files = ["vaccine.css"] %>

<!-- HEADER -->
<div id="header">
  <h1>Sundanzer/Divaf <span class="blue">Vaccine Storage Solutions for Tropical Climates</span></h2>
  <h3>A Story of Commitment: SunDanzer Vaccine STR-50 Model 2.1</h3>
  <div class="image">
    <%= img "kemi.gif", :alt => "Dr. Kemi Ailoje", :width => 110, :height => 82 %>
    <div class="caption">
      <ul class="line">
        <li>Dr. Kemi Ailoje, M.D.</li>
        <li>Founder and CEO</li>
        <li>Divaf</li>
      </ul>
    </div>
  </div>

  <div id="headerText">
    <p><span class="name">Divaf</span> engages the energy of qualified and dedicated professionals to address the needs of women and children in underprivileged areas of Nigeria. In that endeavor Divaf works closely with other organizations in the area with a similar purpose and scope including local, regional, and international.</p>

    <p>Organizations such as ours and those we work with are comprised of individuals who associate with each other because of shared goals, commitments, and interests.</p>
  </div>

  <div class="image">
    <%= img "bergeron.gif", :alt => "David Bergeron", :width => 80, :height => 139 %>
    <div class="caption">
      <ul class="line">
        <li>David Bergeron</li>
        <li>President</li>
        <li>SunDanzer</li>
      </ul>
    </div>
  </div>
</div>
<!-- HEADER -->

<div id="main">
  <p>The story of the development of the SunDanzer/Divaf vaccine storage solution for tropical climates is a story of organizations touching each other because of a shared goal, but more importantly the story of individuals whose commitment and dedication drove their organizations to a solution sought by many organizations for many years, but solved by these individuals.</p>

  <p>The passionate search for a solution begins with Dr. Kemi Ailoje in conversations with a technical development group which supports Divaf projects. From there it was an exhaustive search for a technology that is relatively easy to define based on environmental conditions in Nigeria, but eventually discovered to be non-existent. But it does lead to the co-developer of the seemingly appropriate technology during his association with an extensive research and development project at NASA to deploy refrigeration technology to very remote terrestrial and non-terrestrial locations.</p>

  <p>David Bergeron is now the President of SunDanzer Development and divides his time between the manufacturing of traditional solar powered refrigeration and research under grants from NASA and the Department of Defense. David acts as Chief Scientist of his organization.</p>

  <p>It is a conversation with David Bergeron, his shared commitment to the goals of Divaf in this area, and the resulting dedication as he led his research group into the development of this solution that is the story of the STR-50 Model 2.1. A story of extremely qualified professionals with a clear understanding of the criteria for a long term solution, and the commitment of their personal resources and time to a cause which benefits many people who will never know of their contribution.</p>

  <p>The chronological development of the STR-50 Model 2.1 is provided below. However, Dr. Kemi Ailoje, on behalf of Divaf wishes to note the individuals who drove this process from concept to reality under the design conditions providing for effective deployment of this solution in Nigeria, West Africa, and beyond. This contribution will be felt by many for a generation to come as the children who matured absent debilitating disease that were prevented by our ability to effectively deliver vaccines, grow to maturity.</p>

  <div id="details">
    <p>Internal temperature distribution for maintenance of vaccines is critical to maintain the effectiveness of the active agent, the proteins or amino acid chains. These chains are structured in a curled configuration during vaccine preparation at the lab. <span class="highlight">This structure is crucial to their effectiveness.</span></p>

    <p>The curled configuration of the amino acid chains are maintained by a weak electrical bond. If the temperature is too warm, small amounts of heat energy break this bond and change the configuration to a different structure. <span class="highlight">This renders the vaccine ineffective.</span></p>

    <p>If the temperature is too cold, it alters the surface of the amino acid chain and dilutes the effectiveness of the vaccine as a function of the altered surface area. In either case, too warm or too cold, <span class="highlight">the chemical reaction is not reversible.</span></p>

    <p>The maintenance of the vaccine within a closely defined temperature range between vaccine preparation and vaccine administration is a critical factor in the effective use of this medical tool. <span class="highlight">The entire preparation and distribution effort can be wasted simply due to failure to maintain proper temperature control over the vaccine during this intermediary process.</span></p>

    <p class="summary">Vaccines must be stored at a securely defined temperature range no cooler than 20&deg; C, and no warmer than 80&deg; C.</p>
  </div>

  <div id="solution">
    <p>An effective solution requires a clear definition of the problem</p>
    <p>and</p>
    <p>ensures the solution to one problem does not create another problem</p>
    <p class="blue">The solution must fit seamlessly into the existing environment</p>
  </div>

  <div>
    <p>The Model 2.1 is the result of a one year development process led by David Bergeron at the SunDanzer Development R&D center located in Tucson, Arizona. The goal of this development process was to provide an appliance for secure vaccine storage in tropical climates independent of the location specific power and technical support infrastructure. The appliance had to fit into the existing environment absent any change in external factors. Any deviation from this requirement would serve to limit effective implementation to locations where environmental conditions could be modified, and introduce system failure modes.</p>

    <p>The initial development produced the model 1.0 employing direct drive photovoltaic powering the compressor through a proprietary SunDanzer microprocessor, and patented Thermal Memory Technology energy storage. This solution provided maximum energy storage using the hydrogen bond phase change chemistry. However to fully charge the thermal storage units required the removal of heat energy well below the lower range for vaccine storage.</p>

    <p>Thus the solution to one problem created another, requiring steps to be taken to protect the vaccines during powered operations as the thermal packs approached full charge by isolating the product in an insulated basket with a small basket heater and fan in the lower section. During the time period immediately following power disruption and prior to temperature stabilization at the phase change, the product was protected by the discharge of heat energy from a thermal pack located immediately above the basket heater. This process was effective but introduced additional failure points in the system that did not fully meet our design criteria and restricted the internal volume available for vaccine storage. Accordingly this solution was not released for implementation in the targeted environments.</p>

    <p>Additional R&D continued with a focus on the energy storage process and we moved away from the hydrogen bond. The energy storage procedure is a zero sum game and limits on lower end temperature will always involve a decrease in the thermal energy value. We balanced this with the Model 2.0 which provided for the removal of the basket, basket heater, fan, and basket thermal pack. This opened up the full internal volume of the appliance for vaccine storage and removed the remote possibility of product damage during the final stages of thermal pack charging.</p>

    <p>During the process of developing the Model 2.0 an improved method of containerization for thermal packs was discovered and the result of this improvement is the Model 2.1. This model meets all design criteria and is being released for implementation in the targeted environments.</p>

    <p>This model has a lower end sustained ambient temperature limit equal to the lower limit of vaccine storage at 2° C. It employs direct drive photovoltaic utilizing the SunDanzer proprietary microprocessor controlling the compressor and an array sized for the irradiance value in the specific area of application. An internally mounted rectifier allows for the use of grid or generator power if available over a range from ≈ 120V @ 60hz to ≈ 240V @ 50 hz, and allows for use of other DC power sources as back up in the event of solar array damage.</p>

    <p>The distribution of the Model 2.1 is being conducted by Divaf who participated in the development with SunDanzer to provide solutions to vaccine storage in West Africa and beyond. Divaf is a humanitarian organization based in Lagos, Nigeria focused on health services for women and children. The eradication of many currently devastating diseases can be addressed through an effective vaccine storage appliance fully functional in the environments Divaf targets for their health services programs.</p>

    <p>The development of this appliance satisfying all environmental criteria defined by Divaf for application has been a long and intensive process. The commitment of the SunDanzer organization to this goal, and the resources they have applied to achieve a solution is well above and beyond any reasonable expectation.</p>

    <p>These efforts by SunDanzer will now provide value to the Divaf initiatives in Nigeria, West Africa, and beyond; and provide a necessary tool for the prevention of childhood diseases which is a focus of Divaf.</p>
  </div>
</div>
