#divaf li { font-weight: bold; }
#board li {
  list-style-type: none;
  margin-bottom: 10px;
}
#overview {
  margin: 50px 0 0 280px;
  width: 50%;
  text-align: justify;
}
#principles {
  width: 70%;
  float: right;
  border: 1px solid black;
  -moz-border-radius: 50px 50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px 50px;
  text-align: justify;
  padding: 1em;
}
#children {
  float: left;
  margin: 120px 0 0 -150px;
}
#mission, #objectives { margin: 20px 0 0 0; }
#focus, #divaf, #board { width: 55%; }
#focus { clear: left; }
.surname { text-transform: uppercase; }
#hospital, #tents { display: none; }
