#logo { float: left; }
#menu {
  list-style: none;
  padding: 0;
  margin-left: 220px;
}
#menu li {
  display: inline;
  border-right: 2px solid gray;
  padding: 0 5px;
}
#menu li:first-child { border-left: 1px solid black; }
h4 { text-decoration: underline; }
#leftCol h4 { clear: left; }
#rightCol h4 { clear: right; }
h4.down-1 { margin-top: 20px; }
h4.down-2 { margin-top: 100px; }
ul.simple {
  list-style: none;
  padding: 0;
}
ul.simple li { display: inline; }
ul.simple li:after { content: ';'; }
ul.simple li:last-child:after { content: '.'; }
#footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#footer ul li {
  display: inline;
  color: #666666;
  text-transform: uppercase;
  font-style: italic;
}
#footer ul li:after { content: '....................'; }
#footer ul li:last-child:after { content: ''; }
