body {
  margin: 0 5%;
  background-color: #c6d9f1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
h1 { font-size: 1.4em; }
h2 {
  font-size: 1em;
  text-decoration: underline;
}
h3 {
  font-size: 1em;
  font-style: italic;
}
em {
  color: #404040;
  font-weight: bold;
}
div.offset {
  background-color: #cfcfcf;
  border: 1px solid black;
  padding: 10px;
}
div.offset em { color: red; }
div.offset ul { list-style-type: none; }
div.offset li {
  text-align: center;
  margin-bottom: 1em;
}
#logo { float: left; }
#menu {
  list-style: none;
  padding: 0;
  margin-left: 220px;
}
#menu li {
  display: inline;
  border-right: 2px solid gray;
  padding: 0 5px;
}
#menu li:first-child { border-left: 1px solid black; }
#leftCol h2 { clear: left; }
#rightCol h2 { clear: right; }
.down-1 { margin-top: 20px; }
.down-2 { margin-top: 100px; }
ul.semi {
  list-style: none;
  padding: 0;
}
ul.semi li { display: inline; }
ul.semi li:after { content: ';'; }
ul.semi li:last-child:after { content: '.'; }
ul.line {
  list-style: none;
  padding: 0;
}
ul.left {
  float: left;
  margin-left: 5em;
}
ul.comma {
  list-style: none;
  padding: 0;
}
ul.comma li { display: inline; }
ul.comma li:after { content: ','; }
ul.comma li:last-child:after { content: ''; }
#footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#footer ul li {
  display: inline;
  color: #666666;
  text-transform: uppercase;
  font-style: italic;
}
#footer ul li:after { content: '....................'; }
#footer ul li:last-child:after { content: ''; }
div.image { float: left; }
div.caption {
  background-color: #cfcfcf;
  text-align: center;
  font-size: 0.8em;
}
div.caption ul {
  margin: auto;
  padding: 10px 0;
}
.emphasis { color: #0066ff; }
.break { font-size: 0.8em; }
.break img { float: right; }
