#divaf-sundanzer { display: none; }
img[src="images/nurse.jpg"] {
  float: left;
  clear: left;
  margin-left: 30px;
}
img[src="images/ruralHealth.jpg"] {
  margin: 50px 0 0 20px;
  float: left;
}
img[src="images/sdzronriver.jpg"] {
  margin: 20px 0 0 80px;
  float: left;
}
#banners { display: none; }
img[src="images/adaptability.png"], img[src="images/simplicity.png"], img[src="images/redundancy.png"] {
  float: right;
  margin-right: 20%;
}
#environmentalDesign {
  margin: 0 0 20px 0;
  text-align: justify;
}
#solution {
  margin: 5em 0 5em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 150%;
}
#sidebar {
  float: left;
  width: 255px;
  clear: left;
}
#conformanceStandards li { text-transform: uppercase; }
#designPartners li { text-transform: uppercase; }
#storageUnit {
  text-align: center;
  font-weight: bold;
}
#details {
  width: 35%;
  margin-left: 20px;
  float: left;
}
#banners { display: none; }
.mainPoint {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 150%;
}
