#contactInformation {
  text-align: center;
}

#keyMembers, #technicalSupport, #participatingOrganizations {
  clear: both;
}

#pdcllc {
  color: gray;
  font-weight: bold;
  font-style: italic;
  margin-left: 1em;
}

#participatingOrganizations div {
  clear: both;
}

#participatingOrganizations img {
  clear: left;
  display: block;
}

#participatingOrganizations ul {
  float: left;
}

