#focus li:after, #divaf li:after, #board li:after {
  content: ";"
}

#focus li:last-child:after, #divaf li:last-child:after, #board li:last-child:after {
  content: "."
}

#divaf li {
  font-weight: bold;
}

#board li {
  list-style-type: none;
  margin-bottom: 10px;
}

#overview {
  text-align: center;
}

body.enhanced #overview {
  margin-left: 220px;
}

#mission, #objectives {
  margin: 20px 0 0 0;
}

body.enhanced #mission, body.enhanced #objectives {
  margin-left: 210px;
}

#focus, #divaf, #board {
  width: 55%;
}

#focus {
  clear: left;
}

.surname {
  text-transform: uppercase;
}

#hospital, #tents {
  display: none;
}

body.enhanced #hospital {
  display: block;
  float: right;
}

body.enhanced #tents {
  display: block;
  float: right;
  margin-top: -100px;
}
