body {
  background-color: #c6d9f1;
  margin: 0% 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

em {
  color: red;
  font-weight: bold;
}

h2, h3 {
  text-transform: uppercase;
  font: normal normal bold 12px Helvetica, Arial, sans-serif;
}

h2 {
  text-decoration: underline;
}

h2:after {
  content: ":";
}

#header {
  overflow: auto;
}

#menu {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  margin-left: 250px;
  border: 2px solid gray;
}

#menu li {
  display: inline;
  text-transform: none;
}

#menu li:after {
  content: " | "
}

#menu li:last-child:after {
  content: ""
}

#main {
  background-image: url(../images/globe.png);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
}

img[src="images/africa.png"] {
  width: 206px;
  height: 467px;
  float: left;
}

/* really? */
#main {
  margin-top: -300px;
}
/*
#main > div {
  border: 2px solid gray;
}
*/
