#logo {
  float: left;
}

#menu {
  list-style: none;
  padding: 0;
  margin-left: 220px;

  li {
    display: inline;
    border-right: 2px solid gray;
    padding: 0 5px;

    :first-child {
      border-left: 1px solid black;
    }
  }
}

h4 {
  text-decoration: underline;
}

#leftCol h4 {
  clear: left;
}

#rightCol h4 {
  clear: right;
}

.down-1 {
  margin-top: 20px;
}

.down-2 {
  margin-top: 100px;
}

ul.semi {
  list-style: none;
  padding: 0;

  li {
    display: inline;

    :after {
      content: ';';
    }

    :last-child:after {
      content: '.';
    }
  }
}

ul.line {
  list-style: none;
  padding: 0;
}

ul.left {
  float: left;
  margin-left: 5em;
}

ul.comma {
  list-style: none;
  padding: 0;

  li {
    display: inline;

    :after {
      content: ',';
    }

    :last-child:after {
      content: '';
    }
  }
}

#footer ul {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline;
    color: #666666;
    text-transform: uppercase;
    font-style: italic;

    :after {
      content: '....................';
    }

    :last-child:after {
      content: '';
    }
  }
}
