body {
  background-color: #c6d9f1;
  margin: 0% 10%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

em {
  color: red;
  font-weight: bold;
}

h2, h3 {
  text-transform: uppercase;
  font: normal normal bold 12px Helvetica, Arial, sans-serif;
}

h2 {
  text-decoration: underline;
}

h2:after {
  content: ":";
}

#main {
  background-image: url(../images/globe.png);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
}

img[src="images/africa.png"] {
  width: 206px;
  height: 467px;
  float: left;
}

#header {
  overflow: auto;
}

#header p {
  margin-left: 20%;
  text-align: center;
}

#main {
  margin-top: -300px;
}
/*
#main > div {
  border: 2px solid gray;
}
*/
