body {
  background-color: #c6d9f1;
  margin: 0% 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-width: 880px;
}

em {
  color: red;
  font-weight: bold;
}

h2, h3 {
  text-transform: uppercase;
  font: normal normal bold 12px Helvetica, Arial, sans-serif;
}

h2 {
  text-decoration: underline;
}

h2:after {
  content: ":";
}

div {
  border: 2px solid transparent;
}

img[src="images/africa.png"] {
  float: left;
}

#menu {
  list-style: none;
  padding: 0;
  margin: 2em 0 3em 200px;
}

#menu li {
  display: inline;
}

#menu li:after {
  content: " | "
}

#menu li:last-child:after {
  content: ""
}

#main {
  background-image: url(../images/globe.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
}
