body {
  margin: 0 5%;
  background-color: #c6d9f1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1em;
  text-decoration: underline;
}

h3 {
  font-size: 1em;
  font-style: italic;
}

em {
  color: #404040;
  font-weight: bold;
}

div.offset {
  border: 4px inset #e6e6e6;
  padding: 10px;

  em {
    color: red;
  }

  ul {
    list-style-type: none;
  }

  li {
    text-align: center;
    margin-bottom: 1em;
  }
}

#logo {
  float: left;
}

#menu {
  list-style: none;
  padding: 0;
  margin-left: 220px;

  li {
    display: inline;
    border-right: 2px solid gray;
    padding: 0 5px;

    :first-child {
      border-left: 1px solid black;
    }
  }
}

#leftCol h2 {
  clear: left;
}

#rightCol h2 {
  clear: right;
}

.down-1 {
  margin-top: 20px;
}

.down-2 {
  margin-top: 100px;
}

ul.semi {
  list-style: none;
  padding: 0;

  li {
    display: inline;

    :after {
      content: ';';
    }

    :last-child:after {
      content: '.';
    }
  }
}

ul.line {
  list-style: none;
  padding: 0;
}

ul.left {
  float: left;
  margin-left: 5em;
}

ul.comma {
  list-style: none;
  padding: 0;

  li {
    display: inline;

    :after {
      content: ',';
    }

    :last-child:after {
      content: '';
    }
  }
}

#footer ul {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline;
    color: #666666;
    text-transform: uppercase;
    font-style: italic;

    :after {
      content: '....................';
    }

    :last-child:after {
      content: '';
    }
  }
}

div.image {
  float: left;
}

div.caption {
  text-align: center;
  font-size: 0.8em;

  ul {
    margin: auto;
    padding: 10px 0;
  }
}

.emphasis {
  color: #0066ff;
}

.break {
  font-size: 0.8em;

  img {
    float: right;
  }
}

.quotation {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 10px;

  .quote {
    font-size: 1.5em;
  }

  .quote:before, .quote:after {
    content: '"';
  }

  .citation {
    font-size: 0.8em;
  }
}

p.quote {
  text-align: center;
  font-style: italic;
}

p.quote:before, p.quote:after {
  content: '"';
}

