#conformanceStandards li, #designPartners li {
  text-transform: uppercase;
}

img[src="images/divaf-sundanzer.png"] {
 margin-top: -20px;
}

img[src="images/nurse.jpg"] {
  float: left;
  clear: left;
  margin-left: 30px;
}

img[src="images/ruralHealth.jpg"] {
  margin: 50px 0 0 20px;
}

img[src="images/sdzronriver.jpg"] {
  margin: 20px 0 0 80px;
}

img[src="images/adaptability.png"], img[src="images/simplicity.png"], img[src="images/redundancy.png"] {
  float: right;
  margin-right: 20%;
}

#technicalDesign {
  margin: 0 0 20px 40%;
  text-align: justify;
}

#environmentalDesign {
  margin: 0 0 20px 40%;
  text-align: justify;
}

#solution {
  margin: 0 0 5em 40%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 150%;
}

#details {
  width: 35%;
  margin-left: 20px;
  float: left;
}

#conformanceStandards {
  position: absolute;
  top: 700px;
  float: left;
  width: 255px;
}

#designPartners {
  width: 255px;
  float: left;
  position: absolute;
  top: 790px;
}

#storageUnit {
  width: 255px;
  float: left;
  text-align: center;
  position: absolute;
  top: 908px;
  font-weight: bold;
}

#storageUnit h2 {
  text-align: left;
}

#banners {
  float: right;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.mainPoint {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 150%;
}
