#header {
  h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-left: 250px;
  }

  h3 {
    margin-left: 350px;
  }
}

#headerText {
  float: left;
  width: 500px;
  padding: 10px;
}

