li {
  text-transform: uppercase;
}

img[src="images/divaf-sundanzer.png"] {
 width: 470px;
 height: 89;
 float: right;
 margin-top: -100px;
}

img[src="images/nurse.jpg"] {
  width: 225px;
  height: 168px;
  float: left;
  margin-left: 30px;
}

img[src="images/ruralHealth.jpg"] {
  width: 253px;
  height: 189px;
  float: right;
  margin-top: 100px;
}

img[src="images/sdzronriver.jpg"] {
  width: 148px;
  height: 177px;
  float: right;
  margin-top: -50px;
}

img[src="images/adaptability.png"], img[src="images/simplicity.png"], img[src="images/redundancy.png"] {
  width: 467px;
  height: 102px;
  float: right;
  margin-right: 20%;
}

#technicalDesign {
  margin: 0 0 20px 60%;
  text-align: justify;
}

#environmentalDesign {
  margin-left: 40%;
  text-align: justify;
}

#environmentalDesign h2 {
  text-align: right;
}

#solution {
  margin-left: 50%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 150%;
}

#details {
  width: 50%;
  float: left;
}

#conformanceStandards {
  clear: left;
  width: 50%;
}

#storageUnit {
  width: 30%;
  float: right;
  margin-top: -50px;
  text-align: center;
}

#designPartners {
  margin-top: 50px;
  width: 30%;
  float: left;
}

#banners {
  float: right;
  width: auto;
  margin-top: -50px;
  margin-left: 20%;
  margin-right: 20%;
}

.mainPoint {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 150%;
}
