#divaf-sundanzer {
  display: none;
}

html.enhanced #divaf-sundanzer {
 display: block;
 margin-bottom: 35px;
 margin-left: 210px;
 width: 530px;
 height: 94px;
 background-image: url(../images/divaf-sundanzer.png);
}

img[src="images/nurse.jpg"] {
  float: left;
  clear: left;
  margin-left: 30px;
}

img[src="images/ruralHealth.jpg"] {
  margin: 50px 0 0 20px;
  float: left; /* IE7 */
}

img[src="images/sdzronriver.jpg"] {
  margin: 20px 0 0 80px;
  float: left; /* IE7 */
}

#banners {
  display: none;
}

html.enhanced #banners {
  display: block;
}

img[src="images/adaptability.png"], img[src="images/simplicity.png"], img[src="images/redundancy.png"] {
  float: right;
  margin-right: 20%;
}

  margin: 0 0 20px 0;
  text-align: justify;
}

#environmentalDesign {
  margin: 0 0 20px 0;
  text-align: justify;
}

#solution {
  margin: 5em 0 5em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 150%;
}

html.enhanced #technicalDesign, html.enhanced #environmentalDesign, html.enhanced #solution {
  margin-left: 40%;
}

#sidebar {
  float: left;
  width: 255px;
  clear: left;
}

#conformanceStandards li, #designPartners li {
  text-transform: uppercase;
}

#storageUnit {
  text-align: center;
  font-weight: bold;
}

#details {
  width: 35%;
  margin-left: 20px;
  float: left;
}

#banners {
  display: none;
}

html.enhanced #banners {
  display: block;
}

.mainPoint {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 150%;
}
